* {
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: whitesmoke;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(170, 168, 168);
}
body {
  background: #131315;
  font-family: "Lora", serif;
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 600px;
  width: 900px;
  padding: 40px;

  transform: translate(-50%, -50%);
  background: #242026;
  box-shadow: 0 15px 25px rgba(143, 124, 236, 0.7);
  border-radius: 10px;
}

/* For Bulk Email name*/
.box h2 {
  color: #fff;
  text-align: center;
}

Label {
  color: #fff;
  margin-top: 10px;
}

Button {
  padding: 10px 20px;
  color: #cbbddb;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.2s;
  letter-spacing: 4px;
  border: 1px solid #8f7cec;
}

Button:hover {
  background: #8f7cec;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 5px #8f7cec, 0 0 25px #8f7cec, 0 0 50px #8f7cec,
    0 0 100px #8f7cec;
}
